@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar { width: 0 }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.paging-item button {
  fill: #fff !important;
  width: 15px;
  height: 15px;
}

input[type="checkbox"] {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0px;
  border-radius: 40px;
  width: 16px;
  height: 16px;
  background: #008954;
  border: 2px solid #fff;
  opacity: 0;
}

input[type="checkbox"]:checked {
  border: 1.5px solid #008954;
}

input[type="checkbox"]:checked:after {
opacity: 1;
}

select {
  padding-right: 25px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: url("data:image/svg+xml;utf8,<svg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 1.5L6 6.5L11 1.5' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>") no-repeat;
  background-position: right 12px top 50%;
}

.truncateText {
  margin: 0;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}